.list-item {
  font-size: 13px;
  span.name {
    margin-right: 10px;
  }
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.algin-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.padding-top-20 {
  padding-top: 20px;
}

.shopping-cart {
  color: #6f6262;
  font-size: 18px;
}

